<ion-view title="Side Menus Simple" ng-controller="SideMenusSimpleCtrl">
  <ion-side-menus>

    <ion-side-menu-content>
      <ion-header-bar class="bar-positive">
        <div class="buttons">
          <div class="button button-clear" ng-click="toggleLeft()">
            <i class="icon ion-navicon"></i>
          </div>
        </div>
      </ion-header-bar>
      <ion-content>
        <h2 class="side-menus-simple-header">
          Hello!
        </h2>
      </ion-side-menu-content>
    </ion-side-menu-content>
 
    <ion-side-menu side="left">
      <ion-header-bar class="bar-positive">
      </ion-header-bar>
      <ion-content>
        <a class="item" ng-click="toggleLeft()">
          Close Menu
        </a>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>

